# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# .env file is ignored by git to avoid leaking credentials
.env

# dependencies
node_modules
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
